<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport=" width="width," initial-scale="1.0" />
    <title>Cinemark</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/c/cd/Cinemark_Logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/listStyles.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="../index.html">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Cinemark_Logo.svg" alt="logo">
        </a>
      </div>
      <h1>Bienvenido a nuestro Cine!</h1>
      <nav class="nav-bar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./listado.html">Listado de Películas</a></li>
          <li><a href="./nosotros.html">Nosotros</a></li>
          <li><a href="./comingSoon.html">Coming Soon</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <section class="movie-list">
            <h2 id="movies">A Estrenar</h2>
            <div class="list-container">
                <div class="movie-container"></div>
            </div>
        </section>
    </main>

    <footer>
      <div class="social-media">
        <a href=""><span class="fa fa-facebook"></span></a>
        <a href=""><span class="fa fa-instagram"></span></a>
        <a href=""><span class="fa fa-twitter"></span></a>
      </div>
      <p class="copyright">© 2023 Todos los derechos reservados a Cinema</p>
      <p class="credits">Diseñado y desarrollado por Samuel R</p>
    </footer>

  </body>
</html>
